<div ng-controller="MainController as login">
	<div class="row">
		<div class="col-sm-6 col-md-4 col-md-offset-4 login">
			<h1>Login</h1>
			<form class="form-signin" name="signIn" method="post" ng-submit="login.doLogin()" novalidate>
				<input type="text" name="username" placeholder="username" class="form-control" ng-model="login.loginData.username" ng-required="true">
				<div class="error" ng-show="signIn.username.$touched && signIn.username.$invalid">
					<small style="color:red; display:block;">Name Required</small>
				</div>
				<input type="password" name="password" placeholder="password" class="form-control" ng-model="login.loginData.password" ng-required="true">
				<div class="error" ng-show="signIn.username.$touched && signIn.username.$invalid">
					<small style="color:red; display:block;">Password Required</small>
				</div>
                <div class="error" ng-show="login.errorFlag==true">
					<small style="color:red; display:block;">{{login.error}}</small>
				</div>
				<button type="submit" class="btn btn-success" ng-disabled="signIn.$invalid">Login</button>
			</form>
		</div>
	</div>
</div>